@charset "utf-8";
body{width: 100%;
    height: 100%;
  background-color:#2b152e;
align-items: center;
  position: relative;
  justify-content: center;
  overflow-x: hidden;

}


 *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
 }

header{


width: 100%;
height: 1000px;
display: flex;
align-items: center;
justify-content: center;
justify-items: center;

  position: relative;

}

.h_warp{

align-self: center;
  margin-top: 50px;
  z-index: 10;
  width: 1608px;
  height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}


.h_warp .left_text{
  width: 538px;
  height: 222px;
  position: absolute;
  top: 40px;
  left: 71px;
  background-image: url(../img/interiordesign/text.png);
  background-repeat: no-repeat;
  background-size: 538px 222px;
  background-position: center;
}

.h_warp .fur{
  width: 237px;
  height: 513px;
  position: absolute;
bottom: 95px;
  left: 116px;
    background-image: url(../img/interiordesign/fur_1.png);
  background-repeat: no-repeat;
  background-size: 237px 513px;
  background-position: center;
}


.h_warp .leaf{
  width: 180px;
  height: 351px;
  position: absolute;
bottom: 79px;
  left: 16px;
      background-image: url(../img/interiordesign/leaf_jar.png);
  background-repeat: no-repeat;
  background-size: 180px 351px;
  background-position: center;
  z-index: 1;
}

.h_warp .light_big{
  width: 396px;
  height: 483px;
  position: absolute;
bottom: 80px;
  left: 255px;
background-image: url(../img/interiordesign/big_light.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 3;
}

.h_warp .lighting_1{
  width: 379px;
  height: 260px;
  position: absolute;
top: 316px;
  left: 408px;
background-image: url(../img/interiordesign/big_light_lighting.png);
  background-repeat: no-repeat;
  background-size: 379px 379px;
  background-position: center;
  z-index: 4;
     mix-blend-mode: color-burn; 
     
       animation: fadeIn 2.0s ease-in forwards, 
       blink 3s ease-in-out infinite;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래서 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blink {
  0%, 100% { opacity: 1; }   /* 완전히 보임 */
  50% { opacity: 0.2; }      /* 중간에 희미해짐 */
}

.h_warp .art_work{
  width: 329px;
  height: 226px;
  position: absolute;
top: 213px;
  left: 520px;
background-image: url(../img/interiordesign/art_work.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 1;
  animation: fadeIn 2.0s ease-in forwards, 
   changeArt 5.4s infinite steps(1);
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래서 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes changeArt {
  0% {
    background-image: url(../img/interiordesign/art_work.png);
  }
  33% {
    background-image: url(../img/interiordesign/art_work_2.png);
  }
  66% {
    background-image: url(../img/interiordesign/art_work_3.png);
  }
  100% {
    background-image: url(../img/interiordesign/art_work.png);
  }
}


.h_warp .sofa{
  width: 691px;
  height: 284px;
  position: absolute;
bottom: 79px;
  left: 399px;
background-image: url(../img/interiordesign/long_sofa.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 6;

  animation: fadeIn 2.0s ease-in forwards, 
  changeSofa 5.4s infinite steps(1); /* 9초 동안 순환, steps(1) → 뚝뚝 바뀌게 */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래서 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes changeSofa {
  0%   { background-image: url(../img/interiordesign/long_sofa.png); }
  33%  { background-image: url(../img/interiordesign/long_sofa_2.png); }
  66%  { background-image: url(../img/interiordesign/long_sofa_3.png); }
  100% { background-image: url(../img/interiordesign/long_sofa.png); }
}

.h_warp .minitable{
  width: 180px;
  height: 232px;
  position: absolute;
bottom: 12px;
  left: 471px;
background-image: url(../img/interiordesign/mini_table.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  z-index: 7;
  align-self: flex-end;
  animation: fadeIn 2.0s ease-in forwards, 
  changeMiniTable 5.4s infinite steps(1); 
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래서 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes changeMiniTable {
  0%   { background-image: url(../img/interiordesign/mini_table.png); }
  33%  { background-image: url(../img/interiordesign/mini_table_2.png); }
  66%  { background-image: url(../img/interiordesign/mini_table_3.png); }
  100% { background-image: url(../img/interiordesign/mini_table.png); }
}



.h_warp .wall{
  width: 459px;
  height: 594px;
  position: absolute;
top: 142px;
  right: 246px;
background-image: url(../img/interiordesign/wall_1.png);
  background-repeat: no-repeat;
  background-size: 459px 594px;
  background-position: center;
  z-index: 5;
}


.h_warp .light_hang{
  width: 69px;
  height: 219px;
  position: absolute;
top: 150px;
  right: 447px;
background-image: url(../img/interiordesign/lightfromwall.png);
  background-repeat: no-repeat;
  background-size: 69px 219px;
  background-position: center;
  z-index: 4;
}

.h_warp .lighting_2{
  width: 193px;
  height: 193px;
  position: absolute;
top: 252px;
  right: 385px;
background-image: url(../img/interiordesign/lightfromwall_lighting.png);
  background-repeat: no-repeat;
  background-size: 193px 193px;
  background-position: center;
  z-index: 5;
   mix-blend-mode: hard-light; 
   
       animation: fadeIn 2.0s ease-in forwards, 
        blink 3s ease-in-out infinite;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래서 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes blink {
  0%, 100% { opacity: 1; }   /* 완전히 보임 */
  50% { opacity: 0.2; }      /* 중간에 희미해짐 */
}



.h_warp .strip{
  width: 363px;
  height: 556px;
  position: absolute;
top: 191px;
  right: 119px;
background-image: url(../img/interiordesign/strip_wall.png);
  background-repeat: no-repeat;
  background-size: 363px 556px;
  background-position: center;

}


.h_warp .red_sofa{
  width: 281px;
  height: 326px;
  position: absolute;
bottom: 79px;
  right: 87px;
background-image: url(../img/interiordesign/redchair.png);
  background-repeat: no-repeat;
  background-size: 281px 326px;
  background-position: center;
  z-index: 5;
  animation: changeRedSofa 5.4s infinite steps(1); /* 뚝뚝 바뀌게 */
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래서 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes changeRedSofa {
  0%   { background-image: url(../img/interiordesign/redchair.png); }
  33%  { background-image: url(../img/interiordesign/greenchair.png); }
  66%  { background-image: url(../img/interiordesign/sprit_chair.png); }
  100% { background-image: url(../img/interiordesign/redchair.png); }
}


.h_warp .mark{
  width: 256px;
  height: 346px;
  position: absolute;
top: 18px;
  right: 87px;
background-image: url(../img/interiordesign/main_top_mark.png);
  background-repeat: no-repeat;
  background-size: 256px 346px;
  background-position: center;
  z-index: 5;
    opacity: 0;
  animation: 
    fadeIn 1.5s ease-in forwards,  /* 1.5초 동안 서서히 나타남 */
    float 2s ease-in-out infinite 1.5s; /* 1.5초 후부터 둥둥 반복 */
}
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* 살짝 아래서 올라오는 효과 */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fur,
.leaf,
.wall,
.strip,
.light_hang,
.light_big,

.left_text
{
  opacity: 0; /* 초기 숨김 */
  animation: fadeIn 0.5s ease forwards;
}

/* 순차적 등장 (0.15초 간격) */
.fur { animation-delay: 0s; }
.leaf { animation-delay: 0.15s; }
.wall { animation-delay: 0.3s; }
.strip { animation-delay: 0.45s; }
.light_hang { animation-delay: 0.6s; }
.lighting_2 { animation-delay: 0.75s; }
.light_big { animation-delay: 0.9s; }
.lighting_1 { animation-delay: 1.05s; }
.art_work { animation-delay: 1.2s; }
.sofa { animation-delay: 1.35s; }
.minitable { animation-delay: 1.5s; }
.red_sofa { animation-delay: 1.65s; }
.left_text { animation-delay: 1.8s; }
.mark { animation-delay: 1.95s; }





.pr{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 54px;
  background-image: url(../img/interiordesign/prgrphline.png);
}









section.contents{
padding-top: 160px;
  width: 100%;
  height: 1200px;
  align-items: center;
  justify-content: center;
  display: flex;
    margin: 0 auto;
    flex-direction: column;
}






.tab-content {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 1920px;
  height: 1200px;
  display: none;
  background-color: #f2ddce;
position: relative;
  border-top: 2px solid #B78058;
    border-bottom: 2px solid #B78058;;
}

#tab1{  background-color: #FDE7D7;}

#tab2{
   background-color: #D5EFEB;
   position: relative;
}

#tab3{
   background-color: #DFAF82;
   position: relative;
}



#tab4{
   background-color: #FCE2F8;
   position: relative;
}

.tab-content.active {
  display: block;
}

.swiper-button,
.swiper-pagination {
  display: none;
}

/* 활성 탭에서만 보여주기 */
#tab1.active .swiper-button,
#tab1.active .swiper-pagination {
  display: block;
}

#tab2.active .swiper-button,
#tab2.active .swiper-pagination {
  display: block;
}

#tab3.active .swiper-button,
#tab3.active .swiper-pagination {
  display: block;
}

#tab4.active .swiper-button,
#tab4.active .swiper-pagination {
  display: block;
}



  .con1 .swiper-slide {
  display: none; /* 기본은 숨김 */
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-slide.active {
  display: flex; /* 현재 active 슬라이드만 보이도록 */
  animation: fadeIn 0.2s ease;
}

/* 간단한 페이드 인 효과 */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.98); }
  to { opacity: 1; transform: scale(1); }
}



 #tab1 .swiper-wrapper{
      width: 1920px;
      height: 100%;

  align-items: center;
  justify-content: center;
  background-position: center;
  position: relative;
  padding-top: 100px;

}

.swiper-container.con1 {
      position: absolute;


  width: 100%;
  align-items: center;
  justify-content: center;
      height: 900px;
  

      display: flex;
    }

 .swiper-slide.pg1{
  background: url(../img/interiordesign/int_1_motion.gif);
  width: 1500px; height: 100%;
    background-repeat: no-repeat;
 
    background-size: 1500px, 660px;
 }

 .swiper-slide.pg2{
 background: url(../img/interiordesign/int_2_motion.gif);
  width: 1500px; height: 100%;
      background-repeat: no-repeat;
   background-size: 1500px, 660px;
 }

  .swiper-slide.pg3{
 background: url(../img/interiordesign/int_3_motion.gif);
  width: 1500px; height: 100%;
    background-repeat: no-repeat;
             background-size: 1500px, 660px;
 }
   .swiper-slide.pg4{
 background: url(../img/interiordesign/int_4_motion.gif);
  width: 1500px; height: 100%;
    background-repeat: no-repeat;
           background-size: 1500px, 660px;
       
 }
   .swiper-slide.pg5{
 background: url(../img/interiordesign/int_5_motion.gif);
  width: 1500px; height: 100%;
    background-repeat: no-repeat;
        background-size: 1500px, 660px;
  
 }
   .swiper-slide.pg6{
 background: url(../img/interiordesign/int_6_motion.gif);
   width: 1500px; height: 100%;
    background-repeat: no-repeat;
     background-size: 1500px, 660px;
      
 }

    .swiper-slide.pg7{
       background: url(../img/interiordesign/int_7_motion.gif);
  width: 1500px; height: 100%;
    background-repeat: no-repeat;
   background-size: 1500px, 660px;

 }




 .con1 .swiper-slide.active {
      display: block;
    }

.con1 .swiper-button {
      position: absolute;
      top: 60%;
      transform: translateY(-60%);
      background: none;
      border: none;
      cursor: pointer;
      z-index: 5;
    }

.con1 .swiper-button.b1.prev {
      left: 120px;
    }

 .con1 .swiper-button.b2.next {
      right: 120px;
    }

    
   .con1 .b1{
    background-image: url(../img/visualdesign/slideall/lwng/left.svg);
    width: 39px; height:79px ;
    background-size: contain;
    z-index: 100;
    }

    .con1 .b2{
    background-image: url(../img/visualdesign/slideall/lwng/right.png);
    width: 39px; height:79px ;
        background-size: contain;
           z-index: 100;
    }



    .con1 .swiper-pagination {
  
      position: absolute;
transform: translateY(500px);
      width: 100%;
  
      z-index: 100;
    }

     .con1 .swiper-dot.do1 {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid rgb(255, 145, 0);
      border-radius: 50%;
      margin: 0 5px;
      background-color: transparent;
    }

 .con1 .swiper-dot.active {
      background-color: orange;
    }







 
.rolling-footer{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 300px;
    overflow: hidden;
  white-space: nowrap;

  display: flex;
padding-top: 50px;
  justify-content: center;
 }


 .marquee-wrapper{
    display: flex;
  width: 200%;


    height: 64px;
        background-color: #B78058;
           align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  }

  .marquee-content{
      flex: 0 0 50%;
  display: flex;
  align-items: center;
  animation: marqueeScroll 20s linear infinite;
  white-space: nowrap;
  padding-left: 100%;
  }
   .marquee-content span{
    padding-top: 7px;
  width: 1920px;
    height: 64px;
     align-items: center;
  justify-content: center;
   display: inline-block;
  padding-left: 100%; /* 시작 위치를 오른쪽 바깥에서 */
  animation: marqueeScroll 20s linear infinite;
  font-size: 50px;
    line-height: 50px;

    color: #381738;
  font-family: 'Classy Vogue', serif; 
  font-weight: normal;
  
  }
@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}


footer .turnF{
  position: absolute;


bottom: -40px;
  width: 93px;
  height: 93px;
  border-radius: 300px;
  background-color: #B78058;
  transform: translateY(-80px);

}
.turnF a{
  width: 100%;
  height: 100%;
    display: flex;
  align-items: center;
  justify-content: center;
}
.turnF a p{
  color: #502650;
  font-size: 45px;
  line-height: 45px;
    font-family: 'Cafe24Danjunghae', sans-serif;
    font-weight: normal;
}